.tip-span {
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding-left: 36px;
    vertical-align:top
}
.focus-tip-span,
.error-tip-span,
.valid-tip-span {
    background: url(../images/form.css) no-repeat;
}
.focus-tip-span {
    background-position: 10px -42px;
    color:#1188d3;
}
.error-tip-span {
    background-position: 10px -141px;
    color:#f60;
}
.valid-tip-span {
    background-position:10px -218px;
}
.input-text{border:solid 1px #ddd;background-color:#fff;height:28px;line-height:28px;padding:0 5px;width:110px;margin-right:5px;vertical-align:middle;font-size:14px;}
.p-rl{position:relative;z-index:20;}
.active .downbox{display:block;}
.comselect{float:left;margin-right:10px;}
.inputype{height:28px;background-color:#fff;line-height:28px;font-size:14px;border:solid 1px #c9c9c9;padding:0 25px 0 5px; cursor:pointer;background:#fff url(../images/selarrow.png) no-repeat right 0;width:90px;}
.downbox{border:solid 1px #ddd;background-color:#fff;-moz-box-shadow:1px 1px 1px #ebebeb, -1px 0 1px #ebebeb;-webkit-box-shadow:1px 1px 1px #ebebeb, -1px 0 1px #ebebeb;box-shadow:1px 1px 1px #ebebeb, -1px 0 1px #ebebeb; position:absolute;top:-2px;left:0;z-index:41;display:none;white-space:nowrap;}
.downbox li{color:#4b4b4b;font-size:14px;display:inline;height:27px;}
.downbox a{ display:block;color:#4b4b4b;padding:0 20px 0 5px;line-height:27px;}
.downbox a:hover{background-color:#e7e7e7; text-decoration:none;color:#4b4b4b;}
.line-red{border:1px solid #fe8a8a;box-shadow:0 0 4px #fe8a8a;}
